#main_content_1 {
    position: relative; 
    width: 100%;
    height: 88vh; 
    overflow: hidden;
    display: flex;
    justify-content: left; 
    align-items: end;     

    padding-left: 50px;
    padding-bottom: 6.5rem;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}


.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 12, 22, 0.6); 
    z-index: 2;
}


.hero-content {
    position: relative;
    z-index: 3; 
    text-align: left; 
    color: #fffffb;
    margin-top: 50px; 

    display: flex;
    flex-direction: column; 
    gap: 60px; 
    align-items: flex-start;
}

.hero-content h1 {
    font-family: "effra-cc", sans-serif; 
    font-size: 4.5rem; 
    font-weight: bold;
    margin: 0;
    text-shadow: 0 4px 10px rgba(0,0,0,0.5); 
    letter-spacing: 2px;
}

.hero-content p {
    font-family: "effra-cc", sans-serif;
    font-size: 3rem;
    
    font-weight: bold;
    color: #eef3f7;
    text-shadow: 0 4px 10px rgba(0,0,0,0.4);

    line-height: 1.5;
    margin: 0;
}

#hero-button1 {
    display: inline-block;
    margin: 0;
    padding: 15px 30px;
    font-size: 2rem;
    font-family: "effra-cc", sans-serif;
    font-weight: bold;
    color: #fffffb;
    background-color: #015eb5; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#hero-button1:hover {
    background-color: #006fd7; 
    box-shadow: 0px 8px 8px rgba(7, 12, 22, 0.6);
    transition: background-color 0.1s ease, color 0.3s ease;
}

#video_btn {
    position: absolute;
    bottom: 6.5rem;
    right: 50px;
    z-index: 10; 

    background: transparent;
    border: 4px solid #fffffb;
    color: #fffffb;
    
    height: 3rem;
    width: 3.5rem;
    
    border-radius: 8px; 
    
    font-family: "effra-cc", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#video_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #80ee13; 
    color: #80ee13;
}

#main_home_container {
    width: 100%;
    min-height: 50vh;
    background-color: #f5f5f5;
    padding: 50px;
}