
#navbar_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    width: 100%;

    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.6) 0%,   
        rgba(0, 0, 0, 0.0) 100%  
    );

    backdrop-filter: blur(2px);

    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;

    display: flex; 
    flex-direction: column; 
    justify-content: space-between;

    transition: background 0.4s ease, background-color 0.4s ease;
    box-sizing: border-box;

    
    
    z-index: 100; 
}


#navbar_container:hover {
    /* Make both top and bottom solid (0.95 opacity) */
    background: linear-gradient(
        to bottom, 
        /*rgba(22, 33, 54, 1) 0%, */
        rgba(16, 25, 42, 1) 100%
    );
    box-shadow: 0 8px 12px rgba(7, 12, 22, 0.2);
    backdrop-filter: blur(12px);
}

/* Keep solid when search input is focused */
#navbar_container:has(#searchbar input:focus) {
    background: linear-gradient(
        to bottom, 
       /* rgb(22, 33, 54) 0%, */
        rgba(16, 25, 42, 1) 100%
    );
    box-shadow: 0 8px 12px rgba(7, 12, 22, 0.2);
}

#site_name p {
    font-family: "effra-cc", sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    color: #fffffffb;
    margin: 0;
    padding: 0;

}

#logo_name {
    display: flex;
    gap: 15px;
    align-items: center;
}

#nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    position: relative;
    display: flex;
    align-items: center;
}

#searchbar input {
    background-color: rgba(7, 12, 22, .1);
    color: #c4cfd7;
    font-family: "effra-cc", sans-serif;
    font-size: 1.1rem;
    width: 872px;
    height: 50px;
    padding: 10px 30px;
    border: 1px solid #ffffffc6;
    border-radius: 40px;    
}

#search_input::placeholder {
    color: #c4cfd7; 
    opacity: 1;
    font-family: "effra-cc", sans-serif;
    font-size: 1.1rem;
}

#searchbar input:focus {
    outline: 3px solid #80ee13;
    #searchbar input {
        border: none;
    }
}



#search_button {
    position: absolute;
    right: 5px;
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 20px;
    background-color: rgba(7, 12, 22, 0);
    cursor: pointer;
}

#search_button img {
    height: 20px;
    width: 20px;
}

#search_button:hover {
    background-color: rgba(128, 238, 19, 0.2);
}



#login_signup {
    display: flex;
    color: #fffffffb;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    border: 1px solid #ffffffc6;
    border-radius: 10px;
}

#login_signup a {
    
    text-decoration: none;
    color: #fffffffb;
    font-family: "effra-cc", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 20px;
}

#login_signup a:hover {
    color: #80ee13;
}



#nav_2 {
    width: 100%; 
    margin: 0; 
}



#nav_2 ul {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    
    margin-bottom: 0; 
    padding-left: 0;
}


#nav_2 ul li a {
    text-decoration: none;
    color: #fffffffb;
    font-family: "effra-cc", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: block; 
    
    padding: 8px 12px 12px 12px; 
    
    border-bottom: 6px solid transparent;
}

#nav_2 ul li a:hover {
    color: #ffffff;
    border-bottom: 6px solid #1a90ff;
}

#nav_2 ul li a::after {
    content: "";
    display: inline-block;
    
    width: 14px; 
    height: 14px;
    
    margin-left: 8px; 
    vertical-align: middle; 
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='195' height='195' viewBox='15 15 195 195'%3E%3Cpath fill='%231669b6' stroke='transparent' stroke-width='0' d='M20.8 66.3c-4 4.2-3.9 10.9.3 14.9l84.1 80.6c2 2 4.7 2.9 7.3 2.9 2.6 0 5.3-1 7.3-2.9l84.1-80.6c4.2-4 4.4-10.7.3-14.9-4-4.2-10.7-4.4-14.9-.3l-76.4 73.9-77.2-74c-4.2-4-10.9-3.9-14.9.4z'/%3E%3C/svg%3E");
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}